/*
 *默认主题样式
 * */
.detail-nav{
	height: 50px; 
	background-color: rgb(76,175,80);
	box-shadow: none !important; 
}

.mui-content{
	background-color: rgb(48,48,48);
}
.MD5-content{
	
	background-color: rgb(68,68,68);
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.mui-table-view-cell{
	background-color: rgb(68,68,68);
	color: rgb(255,255,255);
}
.pp{
	color: rgb(76,175,80);
}



/*卡片圆角*/
.city-item {
	
	border-radius: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cur-weather {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
